
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b81414;
    text-align:center ;
}
    
h2  {
    color:black; text-align: center;
}


header {

    height:150px;
    background-image: url("./moroccan-flag-medium.png");
    background-size: cover;
    background-position: center;
    color:white ; 
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    border-bottom: 5px solid white;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    width: auto;
    margin: 30px auto;
}

.rezept-opening-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%;
    padding: 1px;
    text-align: center ;
    transition: transform 0.3s;
    align-self: auto;
    margin: auto;
    margin-top: 20px;
}

.rezept-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    margin: auto;
}

.rezept-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.button {
    display: inline-block;
    background: linear-gradient(45deg, #009246, #ce2b37); 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
}

.button:hover {
    transform: translateY(-5px) ;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: white;
}
