:root {
  --item-box-background: #f1f0ed;
  --item-box-border: #a7a7a7;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  background-color: rgb(217, 217, 218);
  position: relative;
}

/* Flex container styles */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Flex items styles */
.flexContainer .item {
  background-color: var(--item-box-background);
  border: 1px solid var(--item-box-border);
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  max-width: 150px;
  margin: 5px 10px;
}

.flexContainer .item:hover {
  background-color: aquamarine;
}

.flexContainer .item:last-child {
  margin-left: auto;
}

/* Logo styles */
.logo {
  width: auto;
  height: 100%;
}

/* Menu styles */
.menuButton {
}

.menuContainer {
  top: 50px;
  left: auto;
  box-sizing: border-box;
  position: absolute;
  background-color: lawngreen;
  border: solid 1px black;
}
