.plateContainer {
    background-color: var(--goethe-accent-color);
    border-radius: 10px;
    color: var(--font-color);
    padding: 20px;
    width: 60%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.backPlate {
    position: fixed;
    background-color: #00000052;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.buttonContainer {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.button {
    border-radius: 1rem;
    padding: 5px;
    color: var(--font-color);
    font-size: x-large;
    text-decoration: none;
}

.buttonContainer .migrateButton {
    background-color: cornflowerblue;
}

.buttonContainer .stayButton {
    background-color: #969696;
}